body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.panel {
  margin: auto;
  border: 2px solid rgb(255, 138, 138);
  border-radius: 10px;
  max-width: fit-content;
  padding: 10px 10px;
  margin-bottom: 10px;
  min-width: 70vw;
}

.watchButton {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(255, 138, 138);
  padding: 5px 10px;
  margin: 0.4rem;
  transition: 0.2s ease-in;
}

.textInput {
  border-radius: 5px;
  min-height: 15vh;
  min-width: 30vw;
  max-width: 80vw;
  max-height: 70vh;
  outline: none;
}

.watchButton:hover {
  background-color: rgb(255, 138, 138);
  border: 2px solid white;
}
