.App {
  text-align: center;
  margin-top: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading-text {
  font-size: 3em;
  font-family: "Trade Gothic LT Std Bold", "Lucida Sans", Arial, sans-serif,
    "Lucida Grande", "Trebuchet MS", "Lucida Sans Unicode";
  /* text-shadow: 0px 6px 4px rgb(255, 138, 138); */
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
